@media (min-width: 992px)
  .navbar
    &-menu
      &__link
        &:hover
          color: $white - 30%
          border-bottom: 1px solid $white - 30%
  .user
    &__name
      &:hover
        color: $text-color + 80%
  .booking
    &__number
      &:hover
        color: $white - 70%
  .footer
    &__link
      &:hover
        color: $footer-text-color + 30%
        box-shadow: 2px 2px $dark, 4px 4px $dark
        top: -1px
        left: -1px
    &-bottom
      &__link
        &:hover
          color: #cacaca
  button
    &:hover
      background-color: $primary - 30%
      cursor: pointer
@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel-slider
    width: 590px
  .hotel
    &-slider
      &__image
        height: 100%
        width: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &-bottom
      margin-left: auto
    &__input
      &-group
        flex-basis: 100%
@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 48px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      width: 673px
      margin-left: 14px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
      margin-bottom: 29px
  .booking
    width: 340px
  .slider
    width: 100%
  .map
    width: 340px
  .reviews
    padding: 9px 0 70px 0
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 52px
    &-slider
      &__item
        max-width: 580px
      &__button
        &--prev
          left: 0px
          top: 171px
        &--next
          right: 0px
          top: 171px
  .activites
    padding: 16px 0 52px 0
    &__card
      margin-bottom: 20px
      width: 47%
      height: 255px
    &-wrapper
      flex-wrap: wrap
      justify-content: space-evenly
  .footer
    padding-top: 63px
    &-bottom
      margin-top: -38px
      width: 698px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 49px
    &__form
      width: 539px
    &__input
      &-group
        flex-basis: 48%
    &__message
      flex-basis: 100%
    &__logo
      width: 104px
      height: 120px
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact-details
      grid-column: span 5
      grid-row: 3
    &__contacts-form
      grid-column: span 5
      grid-row: 4

@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar

    &__mobile
      &_fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 100
    &__user, &__search
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      overflow-y: scroll
      &__visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 30px
        &_mobile
          &_visible
            display: block
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      cursor: pointer
      background-color: #fff
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &_light
        color: $white
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &-text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .slider
    height: 350px
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 700px
      width: 90%
  .subscribe
    &__input
      margin-left: 18px

  .reviews
    &__title
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after,&:before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -93px
          transform: translate(-50%, 0)
  .activites
    padding-top: 40px
    padding-bottom: 60px
    &-wrapper
      flex-wrap: wrap
      justify-content: space-between
  .card
    width: 49%
    height: 255px
  .footer
    &-bottom
      width: 100%
    &__input
      &-group
        flex-basis: 100%

@media (max-width: 576px)
  .container
    width: 280px
  .logo
    width: 99px
  .navbar
    &-bottom
      &__visible
        width: 100%
    &__search
      &_mobile
        &_visible
          width: 80%
  .breadcrumb
    &-list
      padding-bottom: 7px
  .hotel
    padding-bottom: 0px
    &-description
      margin-bottom: 25px
    &-info
      &__name
        margin-bottom: -7px
    &__slider
      margin-bottom: 20px
    &-slider
      height: 100%
      &__image
        height: 179px
  .newsletter
    height: 319px
    padding: 76px 0 83px 0
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: flex-start
    &-title
      font-size: 20px
      line-height: 25px
    &__strong
      font-size: 30px
      line-height: 38px
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
    margin-left: -18px
  .reviews
    padding: 9px 0 2px 0
    &-slider
      &__button
        top: 27px
        &--prev
          left: 50%
          margin-left: -92px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -118px
          transform: translate(-50%, 0)
      &__profile
        margin-top: -45px
      &__text
        font-size: 12px
        line-height: 160%
        text-align: left
    &__title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
      width: 245px
      height: 38px
      margin-left: auto
      margin-right: auto
      margin-top: 23px
  .activites
    padding-bottom: 28px
    &__title
      font-size: 18px
      line-height: 23px
  .card
    width: 100%
  .footer
    &__title
      &--inline
        margin-bottom: 20px
    &-bottom
      margin-left: 0
      flex-wrap: wrap
      width: 277px
      margin-top: 22px
      &__ul
        margin-bottom: 9px
    &__item
      &_fix
        width: 264px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 33px
    &__logo
      width: 104px
      height: 120px
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        flex-direction: column
        align-items: flex-start
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
      justify-content: flex-start
    &__contact-details
      grid-row: 6
      grid-column: 1
    &__contacts-form
      grid-row: 7
      grid-column: 1
      margin-bottom: 30px
    &__form
      width: 93%
    &__message
      width: 300px
  .map
    height: 172px
    margin-bottom: 48px
  .modal
    &__dialog
      width: 280px
      padding: 23px 30px 23px 30px
  @media (max-width: 576px) and (orientation:landscape)
    .modal
      &__dialog
        height: 300px
        width: 500px
        overflow: auto
